@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    scroll-snap-type: y mandatory;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    margin: 0;
    font-size: 40px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: aquamarine;
}

div[class$="slide"]{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.title-slide {
    background:url(img/bg.avif);
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-fluid {
    display: flex;
    height: 100vh;
    overflow-y: hidden; 
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    margin: 0;
    align-items: center;
 }

.container-fluid.show {
    transform: translateX(0);
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    text-align: center;
    margin-bottom: 10px;
}

.title.cover {
    margin: 0;
    font-size: 80px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    text-align: center;
}

.content-slide {
    background:url(img/bg.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.container-fluid.web {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.card-collection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.images {
    display: flex;
    justify-content: center;
}

.about-me {
    justify-content: center;
    text-align: center;
}